.container {
    padding: 16px;
    background-color: white;
    margin: 1% 5%;
}

nav {
    width: 100vw;
    height: 80px;
    background-color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    border-bottom: solid rgba(0, 0, 0, 0.123) 1px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

.cont {
    background-color: white;
    width: 95%;
    /* padding: 2.5%; */
    min-height: 20px;
}

.child {
    padding: 10px 0;
}

.bord {
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 5px;
}

.bord-b {
    border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
}

.padd {
    margin: 2.5%;
    padding: 25px;
}

.flex {
    display: flex;
}

.between {
    display: flex;
    justify-content: space-between;
}

.lo {
    padding: 10px;
    margin: 0;
    background-color: rgb(184, 56, 56);
}

.block {
    margin: 10px;
}

.ed {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin: 0 0 0 30px;
    height: 40px;
    padding: 7px;
}

.ed:hover {
    opacity: 1;
}

.del {
    background-color: rgb(184, 56, 56);
}

.right {
    display: flex;
    width: 100%;
    justify-content: right;
}

.polubut {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 60px; */
}

/* .search2 {
    margin: 5px 0 22px 15px;
    padding: 19.5px;
}

.search3 {
    margin: 0;
    padding: 0;
} */

.search:hover,
.search:focus {
    color: black;
}

.back {
    position: absolute;
    background-color: white;
    color: dodgerblue;
    margin: 6px 30px;
    /* margin: 1% 5%; */
    font-size: 22px;
    right: 0;
}

.margin {
    margin: 0 0 0 20px;
}

.sort {
    height: 30px;
    padding: 5px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-bottom: black 1px solid;
    margin: 0 0 0 30px;
}